<div class="p-4">
  <div *ngFor="let new of news" class="card">
    <div class="card-header">
      {{ new.title }}
    </div>
    <div class="card-body">
      <h6 class="card-title">{{ new.date | date: 'short' }}</h6>
      <p class="card-text">{{ new.content }}</p>
      <div class="p-4">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onArchive(new._id)"
          *ngIf="!new.archiveDate">
            Archivar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(new._id)"
          *ngIf="new.archiveDate">
            Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
