<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <div class="navbar-collapse" id="navbarText">
      <a class="navbar-brand">Newser</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerlinkActive ="active">
          <a class="nav-link" [routerLink]="['news']">New news</a>
        </li>
        <li class="nav-item" routerlinkActive ="active">
          <a class="nav-link" [routerLink]="['archived']">Archived</a>
        </li>
      </ul>
    </div>
        
    <form *ngIf="!userLoggedIn" [formGroup]= "userForm" class="d-flex" (submit)="onLogin()">
      <input formControlName="userName" class="form-control me-3" type="search" placeholder="User">
      <input formControlName="password" class="form-control me-3" type="password" placeholder="Password" id="passwordLogin">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
    <button *ngIf="userLoggedIn" class="btn btn-outline-success" (click)="onLogout()">Logout</button>
  </div>
</nav>